apiVersion: operators.coreos.com/v1alpha2
kind: OperatorGroup
metadata:
  name: automation-broker-group
  namespace: "{{ _automation_broker_project }}"
spec:
  targetNamespaces:
  - "{{ _automation_broker_project }}"
