apiVersion: operators.coreos.com/v1alpha1
kind: Subscription
metadata:
  name: automationbroker
  namespace: "{{ _automation_broker_project }}"
spec:
  channel: alpha
  installPlanApproval: Automatic
  name: automationbroker
  source: installed-community-openshift-automation-broker
  sourceNamespace: "{{ _automation_broker_project }}"
  startingCSV: "{{ _automation_broker_subscription_csv }}"