apiVersion: project.openshift.io/v1
kind: Project
metadata:
  annotations:
    openshift.io/description: ""
    openshift.io/display-name: "{{ _template_broker_project_display }}"
    openshift.io/requester: "{{ ocp_username }}"
  name: "{{ _template_broker_project }}"
spec:
  finalizers:
  - kubernetes
