apiVersion: operators.coreos.com/v1alpha1
kind: CatalogSource
metadata:
  name: installed-community-openshift-template-broker
  namespace: "{{ _template_broker_project }}"
spec:
  address: community-operators.openshift-marketplace.svc.cluster.local:50051
  displayName: Community Templates
  icon:
    base64data: ""
    mediatype: ""
  publisher: Community
  sourceType: grpc
